@import './variables';
@import './mixins';

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: $color-bg;
  color: $color-primary;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: $space-lg;
}
